{% extends 'dashboard/main_base.html' %}
{% load static %} 
{% block content %}


    <div class="wt-haslayout wt-main-section">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2 float-center">
                <div class="wt-dashboardbox">
                    <div class="wt-dashboardboxcontent">
                        <form method='POST' action=''>{% csrf_token %}
                            <div id='registerError'></div>  
                            
                            <div class="wt-jobdescription wt-tabsinfo">
                                <div class="form-row">
                                    <div class="wt-tabscontenttitle">
                                        <h2>Let us Log you in</h2>
                                        <span style="color:green;" role="alert">Please we highly recommend a minimum of 8 character password</span><br>                                                                
                                </div>

                                <div class="form-group">
                                    {{resetform.password1.label}}
                                    {{resetform.password1}}
                                    <span style="color:red;" role="alert">{{ resetform.password1.errors}}</span>
                                </div>	
                                <div class="form-group">
                                    {{resetform.password2.label}}
                                    {{resetform.password2}}
                                    <span style="color:red;" role="alert">{{ resetform.password2.errors}}</span>
                                </div>	
                            </div>
                            
                        </div>
                        <button id="createPassword" type="button" class="wt-btn"> Submit </button>
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
<script>
    //Script to add new user            
    $(document).on('click', '#createPassword', function (e) {
    e.preventDefault();

    let password1 = $('[name="password1"]').val();
    let password2 = $('[name="password2"]').val();

    let displaySuccess = document.getElementById('registerError')

    $("#createPassword").attr("disabled", true);

    if(password1 == ''||password2 == ''){
        //swal("Alert!", "All fields are required", "error");

        displaySuccess.textContent = '';
        $('#registerError').removeClass('alert alert-success');
        displaySuccess.textContent = 'All fields are required'
        $('#registerError').addClass('alert alert-danger');
        return false;

    }
    else{
        $.ajax({
            type: 'POST',
            url: '{% url "account:password_confirm" %}',
            data: {
                password1: password1,
                password2: password2,
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'create-password'
            },
            success: function (json) {
                if (json.errors != ''){
                    displaySuccess.textContent = '';
                    $('#registerError').removeClass('alert alert-success');
                    displaySuccess.textContent = json.message;
                    $('#registerError').addClass('alert alert-danger');
                    document.getElementById('registerError').innerHTML = json.errors

                }else{
                    $('[name="password1"]').val('');
                    $('[name="password2"]').val('');

                    window.location.href = json.user_redirect
                }
                $("#createPassword").attr("disabled", false);
            },
            error: function (xhr, errmsg, err) {}
        });
    }
    })
</script>
{% endblock scripts %}
