{% extends "dashboard/main_base.html" %}
{% load static %}

{% block content %}

<div class="wt-haslayout wt-innerbannerholder">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                <div class="wt-innerbannercontent">
                    <div class="wt-title"><h2>Application Form</h2></div>
                        {% if invitation.status == 'invited' %}
                        <div class="wt-sectionhead wt-textcenter"><br>
                            <div id="duration-timer" style="color: red; font-weight: bold;display: none;">{{application_expiry|date:"M d, Y H:m:s"}} </div>
                            <div class="alert alert-warning" role="alert" style="border-radius: 20px;">
                                <strong></strong><span id="duration-countdown-timer" style="color:red; font-size:2em; font-weight: bold;"></span>
                            </div>
                        </div>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                        <ol class="wt-breadcrumb">
                            <li><a href="{% url 'account:dashboard' %}">Return to Dashboard</a></li>
                            <li class="wt-active">Application</li>
                        </ol>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wt-haslayout wt-main-section">
        <div class="container">          
            <div class="row">
                <div id="wt-twocolumns" class="wt-twocolumns wt-haslayout">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left">    
                    {% if invitation.status == 'invited' %}
                    <div class="wt-proposalholder"> 
                        <div class="wt-proposalhead">
                            <h2>{{invitation.tender.title}}</h2>
                            <ul class="wt-userlisting-breadcrumb wt-userlisting-breadcrumbvtwo">
                                <li><span><i class="fa fa-building" style="color:green;"></i> {{invitation.tender.category.name}}</span></li>
                                <li><span><i class="fa fa-tag wt-viewjobtag" style="color:red;"></i> {{invitation.tender.reference}}</span></li>
                                <li><span><i class="far fa-clock" style="color:blue;"></i> {{invitation.tender.created_at|date:"M-d-Y"}}</span></li>
                            </ul>
                        </div>
                        <div class="wt-description mt-4">
                            <h4>Application Instructions</h4>
                            <p>{{website.applicant_instruction|linebreaksbr}}.</p>
                        </div>
                    </div>
                    {% endif %}
                    {% if not invite_link_expired or invitation.status == 'accepted' %}
                    <div class="wt-proposalholder">
                        <div class="row justify-content-md-center">        
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <div class="text-center">
                                    <span style="color: red; font-size:25px;"> Sorry! this invite link has expired </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="wt-proposalholder">
                        <div id="new-application">
                            {% include 'onboarding/partials/application_form.html' %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}

{% if invitation.status == 'invited' %}
    <script src={% static 'js/applicationtimer.js' %} ></script>
{% endif %}

{% endblock scripts %}