{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content %}

<div class="wt-haslayout wt-innerbannerholder">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                <div class="wt-innerbannercontent">
                    <div class="wt-title"><h2>Message Composer</h2></div>
                        <ol class="wt-breadcrumb">
                            <li><a href="{% url 'account:dashboard' %}">Dashboard</a></li>
                            <li class="wt-active">Composer</li>
                        </ol>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-md-6 text-center"style="margin:20px;">
                            <button type="button" hx-get="{% url 'onboarding:instruction_form' website.pk %}" 
                                hx-target="#composers" 
                                class="btn btn-success" 
                                style="background-color:rgb(76, 8, 71); border-radius:20px; margin:5px; cursor:pointer;">
                                <i class="fa fa-edit"> Applicant Instruction </i>
                            </button>
                            <button type="button" hx-get="{% url 'onboarding:invitemessage_form' website.pk %}" 
                                hx-target="#composers" 
                                class="btn btn-danger" 
                                style="background-color:rgb(8, 76, 71); border-radius:20px; margin:5px; cursor:pointer;">
                                <i class="fa fa-edit"> Invite Message Body </i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wt-proposalholder">
    <div class="container">
        <div class="row justify-content-md-center">
            <div id='composers' class="col-12">
                <div id='composers' class="wt-sectionhead wt-textcenter">
                    {% include 'onboarding/partials/composer.html' %}
                </div>
            </div>
        </div>
    </div>	
</div>	          
{% endblock content %}