{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content %}

<div class="wt-haslayout wt-innerbannerholder">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                <div class="wt-innerbannercontent">
                    <div class="wt-title"><h2>ITEM ISSUE</h2></div>
                        <ol class="wt-breadcrumb">
                            <li><a href="{% url 'account:dashboard' %}" class="btn btn-info btn-sm">Dashboard</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% include 'inventory/partials/inventory_states.html' %}
    
</div>
{% endblock content %}