{% extends "dashboard/main_base.html" %}
{% block content %}
{% include 'dashboard/main_sidebar.html' %}

			<!--Main Start-->
	<main id="ticket-list" class="wt-main wt-haslayout">
		{% if request.user.custodian %}
		{% include 'account/partials/custodian_dashboard.html' %}
		{% endif %}
			<div class="wt-proposalholder">		

				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col-12">
							<div class="wt-sectionhead wt-textcenter">
								<div class="wt-sectiontitle">
									<h3>Support Tickets</h3>
									<form class="form-group text-center">{% csrf_token %}
										<input type="text"
											hx-post="{% url 'tickets:search_ticket' %}"
											hx-trigger="keyup changed delay:500ms"
											hx-target="#search-tickets" 
											class="form-control-sm col-md-6"
											name="search" 
											placeholder="start typing something ...."
											autocomplete="off">
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>				
	
				<div class="table-responsive">
					<table class="table table-striped table-sm">
						<thead style="background-color:rgb(29, 118, 90); color:white; font-weight: bold;">
							<tr>
								<th>#</th>
								<th>Ticket #</th>
								<th>Terminal</th>
								<th>Date</th>
								<th>Status</th>
								<th>Commands</th>
								<th>Action</th>
							</tr>
						</thead>
						
						<tbody id="search-tickets">
							{% include 'tickets/partials/dashboard_tables.html' %}
						</tbody>
					</table>
					{% if not tickets %}       
					<div class="text-center">
						<span style="font-weight: bold;"> You donnot have any tickets</span>
					</div>
					{% endif %}  
				</div>
			</div>
	
			<div class="wt-proposalholder mt-6">
				<div class="row justify-content-md-center">
					<div class="wt-sectionhead wt-textcenter">
						<span>Copyright @ {{website.site_name}}</span>
					</div>
				</div>
			</div>

	</main>
	<!-- Add team Popup Start-->
	{% include 'account/modals/ticket_form.html' %}


	{% endblock %}
	{% block scripts %}
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script>
			//Script to add new user            
			$(document).on('click', '#ticketforms', function (e) {
			e.preventDefault();

			for (var instance in CKEDITOR.instances)
				CKEDITOR.instances[instance].updateElement();

			let title = $('[name="title"]').val();
			let category = $('[name="category"]').val();
			let terminal = $('[name="terminal"]').val();
			let description = $("#id_description").val();

			if(title == ''||category == ''|| terminal ==''||description == ''){
				swal("Alert!", "All fields are required", "error");
				return false;
			}
			else{
				$.ajax({
					type: 'POST',
					url: '{% url "tickets:create_ticket" %}',
					data: {
						title: title,
						category: category,
						terminal: terminal,
						description: description,
						csrfmiddlewaretoken: "{{csrf_token}}",
						action: 'create-ticket'
					},
					success: function (json) {
						if (json.errors != ''){
							swal("Error!", json.errors, "error")

						}else{
							$('[name="title"]').val('');
							$('[name="category"]').val('');
							$('[name="terminal"]').val('');
							$('[name="description"]').val('');

							swal("Perfect!", 'All looked good', "success").then((value) =>{
									window.location.href = "{% url 'account:dashboard' %}"
								});
						}

					},
					error: function (xhr, errmsg, err) {}
				});
			}
			})
		</script>

		<script type="text/javascript">
			$(function() {
				$('#ticketforms').on('click', function() {
					for (var instance in CKEDITOR.instances)
						CKEDITOR.instances[instance].updateElement();
						$("#id_description").serialize();
				})
			})
		</script>

	{% endblock scripts %}