
	<!-- Popup Start-->
	<div class="modal fade wt-offerpopup" tabindex="-1" role="dialog" id="availability">
		<div class="modal-dialog" role="document">
			<div class="wt-modalcontent modal-content">
				<div class="wt-popuptitle">
					<h2>{{application.get_regional_availability_display}}</h2>
					<a href="javascript%3bvoid(0)%3b.html" class="wt-closebtn close"><i class="fa fa-close fa-3x" data-dismiss="modal" aria-label="Close" style="color:red;"></i></a>						
				</div>
				<div class="modal-body">
                    <div class="col-md-12">
						{{application.regional_availability_reason}}
					</div> 
				</div>
			</div>
		</div>
	</div>
	<!-- Popup Start-->
	<div class="modal fade wt-offerpopup" tabindex="-1" role="dialog" id="vas">
		<div class="modal-dialog" role="document">
			<div class="wt-modalcontent modal-content">
				<div class="wt-popuptitle">
					<h2>{{application.get_value_added_services_display}}</h2>
					<a href="javascript%3bvoid(0)%3b.html" class="wt-closebtn close"><i class="fa fa-close fa-3x" data-dismiss="modal" aria-label="Close" style="color:red;"></i></a>						
				</div>
				<div class="modal-body">
                    <div class="col-md-12">
						{{application.value_added_services_reason}}
					</div> 
				</div>
			</div>
		</div>
	</div>
	<!-- Popup Start-->
	<div class="modal fade wt-offerpopup" tabindex="-1" role="dialog" id="emergency">
		<div class="modal-dialog" role="document">
			<div class="wt-modalcontent modal-content">
				<div class="wt-popuptitle">
					<h2>{{application.get_emergency_plans_display}}</h2>
					<a href="javascript%3bvoid(0)%3b.html" class="wt-closebtn close"><i class="fa fa-close fa-3x" data-dismiss="modal" aria-label="Close" style="color:red;"></i></a>						
				</div>
				<div class="modal-body">
                    <div class="col-md-12">
						{{application.emergency_plans_reason}}
					</div> 
				</div>
			</div>
		</div>
	</div>
	<!-- Popup Start-->
	<div class="modal fade wt-offerpopup" tabindex="-1" role="dialog" id="concurrent">
		<div class="modal-dialog" role="document">
			<div class="wt-modalcontent modal-content">
				<div class="wt-popuptitle">
					<h2>{{application.get_concurrent_offers_display}}</h2>
					<a href="javascript%3bvoid(0)%3b.html" class="wt-closebtn close"><i class="fa fa-close fa-3x" data-dismiss="modal" aria-label="Close" style="color:red;"></i></a>						
				</div>
				<div class="modal-body">
                    <div class="col-md-12">
						{{application.concurrent_offers_reason}}
					</div> 
				</div>
			</div>
		</div>
	</div>
	<!-- Popup Start-->
	<div class="modal fade wt-offerpopup" tabindex="-1" role="dialog" id="contract">
		<div class="modal-dialog" role="document">
			<div class="wt-modalcontent modal-content">
				<div class="wt-popuptitle">
					<h2>{{application.get_other_contractual_services_display}}</h2>
					<a href="javascript%3bvoid(0)%3b.html" class="wt-closebtn close"><i class="fa fa-close fa-3x" data-dismiss="modal" aria-label="Close" style="color:red;"></i></a>						
				</div>
				<div class="modal-body">
                    <div class="col-md-12">
						{{application.other_contractual_services_reason}}
					</div> 
				</div>
			</div>
		</div>
	</div>
