{% if messages %}
    <div class="row justify-content-md-center" hx-get="{% url 'tickets:remove_message' %}" hx-trigger="load delay:4s">        
        {% for message in messages %}        
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <span class="wt-jobalerts">
                <div class="alert alert-{{message.tags}} alert-dismissible fade show text-center">
                    <span> {{ message}} </span>
                </div>
            </span>
        </div>
        {% endfor %}
    </div>
{% endif %}

<div class="wt-jobdescription wt-tabsinfo"><br>
    <div class="wt-tabscontenttitle">
        <h2>Option Two: Internal Panelists</h2>
    </div>	
    <section class="wt-haslayout wt-dbsectionspace wt-padding-add-top wt-moredetailsholder">
        <div class="row">
            {% for member in team_members %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
                <div class="wt-insightsitem wt-dashboardbox" style="background-color:rgb(170, 224, 180);">
                    {% if member.custodian.profile_photo %}
                    <figure class="wt-userlistingimg">
                        <img src="{{member.custodian.profile_photo.url}}" alt="image description" class="mCS_img_loaded">
                    </figure>
                    {% else %}
                        <i class="fa fa-user fa-5x" style="color:green;"></i>
                    {% endif %}
                    <h4 style="color:green;">{{member.get_full_name|truncatechars:30}}</h4>
                    <div class="wt-insightdetails">
                        <div class="wt-title">
                            <form> {% csrf_token %}
                                <input type="text" name="modes" value="internal" hidden>
                                <input type="number" name="panel" value="{{member.pk}}" hidden>
                                <button type="submit" class="btn btn-info btn-sm"
                                    hx-post="{% url 'onboarding:add_internal_panelist' application.pk %}"
                                    hx-target="#panel-list"
                                    style="background-color:blue; font-weight: bold;">
                                    <i class="fa fa-plus"> Add Panelist</i>
                                </button>
                            </form>
                        </div>													
                    </div>
                </div>
            </div>
            {% endfor %}

            {% for panel in int_panelists %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
                <div class="wt-insightsitem wt-dashboardbox" style="background-color:rgb(241, 175, 175)">
                    {% if panel.panelist.custodian.profile_photo %}
                    <figure class="wt-userlistingimg">
                        <img src="{{panel.panelist.custodian.profile_photo.url}}" alt="image description" class="mCS_img_loaded">
                    </figure>
                    {% else %}
                        <i class="fa fa-user fa-5x" style="color:green;"></i>
                    {% endif %}
                    <h4 style="color:green;">{{category.name|truncatechars:30}}</h4>
                    {% if panel.mode == 'internal' %}
                        <h6>{{panel.panelist.get_full_name}}</h6>
                    {% else %}
                        <h6>{{panel.name}}</h6>
                    {% endif %}
                    <div class="wt-insightdetails">
                        <form class="badge badge-pill">{% csrf_token %}
                            <input type="number" name="panel" value="{{panel.pk}}" hidden>
                            <button type="button" class="btn btn-success btn-sm"
                                style="background-color:green; font-weight: bold;"
                                hx-post="{% url 'onboarding:panel_reminder' application.pk %}"
                                hx-target="#panel-list">
                                <i class="fa fa-bell"> Reminder [{{panel.reminder_count}}]</i>
                            </button>
                        </form> |
                        <button type="button" class="btn btn-danger btn-sm"
                            style="background-color:red; font-weight: bold;" disabled>
                            <i class="fa fa-lock"> Login Access</i>
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %} 
            </div>						 
        </div>						 
    </section>
</div>						 
