{% load static %}
{% if categories %}
    <!-- User Listing Start-->
    <div class="wt-proposalholder">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12">
                    <div class="wt-sectionhead wt-textcenter">
                        <ol class="wt-breadcrumb">
                            {% if protovariable == 'stageone' %}
                            <li>
                                <button type="button" hx-get="{% url 'onboarding:vendor_category' %}" 
                                    hx-target="#bidding" 
                                    class="btn btn-info" 
                                    style="border-radius:20px; cursor:pointer;">
                                    Step 1 of 3: Select Category
                                    
                                </button>
                            </li>
                            {% endif %}
                            {% if protovariable == 'stagetwo' %}
                            <li style="margin:10px;">
                                <button type="button" hx-get="{% url 'onboarding:vendor_category' %}" 
                                    hx-target="#bidding" 
                                    class="btn btn-info" 
                                    style="border-radius:20px; cursor:pointer;">
                                    Step 1 of 3: Select Category
                                    
                                </button>
                            </li>
                            <li style="margin:10px;">
                                <button type="button" hx-get="javascript:void(0);" 
                                    hx-target="#bidding" 
                                    class="btn btn-success" 
                                    style="border-radius:20px; cursor:pointer;">
                                    Step 2 of 3: Create a Tender
                                </button>
                            </li>
                            {% endif %}
                            {% if protovariable == 'stagethree' %}
                            <li style="margin:10px;">
                                <button type="button" hx-get="{% url 'onboarding:vendor_category' %}" 
                                    hx-target="#bidding" 
                                    class="btn btn-info" 
                                    style="border-radius:20px; cursor:pointer;">
                                    Step 1 of 3: Select Category
                                    
                                </button>
                            </li>
                            <li style="margin:10px;">
                                <button type="button" hx-get="{% url 'onboarding:vendor_category' %}"
                                    hx-target="#bidding" 
                                    class="btn btn-success" 
                                    style="border-radius:20px; cursor:pointer;">
                                    Step 2 of 3: Create a Tender
                                </button>
                            </li>
                            <li style="margin:10px;">
                                <button type="button" hx-get="javascript:void(0);" 
                                    hx-target="#bidding" 
                                    class="btn btn-success" 
                                    style="background-color:rgb(138, 31, 152); border-radius:20px; cursor:pointer;">
                                    Step 3 of 3: Tender Rules
                                </button>
                            </li>
                            {% endif %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>	
    </div>	    

    <div class="container">
        <div class="row">
            <div id="wt-twocolumns" class="wt-twocolumns wt-haslayout">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left">
                    {% if protovariable == 'stageone' %}
                    <section class="wt-haslayout wt-dbsectionspace wt-padding-add-top wt-moredetailsholder">
                        <div class="row">
                            {% for category in categories %}
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
                                <div class="wt-insightsitem wt-dashboardbox">
                                    <figure class="wt-userlistingimg">
                                        <img src="{% static 'images/thumbnail/group-02.jpg' %}" alt="image description" class="mCS_img_loaded">
                                    </figure>
                                    <h4 style="color:green;">{{category.name|truncatechars:30}}</h4>
                                    <h6>{{category.preview}}</h6>
                                    <div class="wt-insightdetails">
                                        <div class="wt-title">
                                            <form> {% csrf_token %}
                                                <input type="number" name="category_pk" value="{{category.pk}}" hidden>
                                                <button type="submit" class="btn btn-success  btn-sm"
                                                    hx-post="{% url 'onboarding:category_session' %}"
                                                    hx-target="#bidding"
                                                    hx-confirm="Are you sure about the category? You may not be able to change in future"
                                                    style="background-color:rgb(29, 118, 90); font-weight: bold;">
                                                    <i class="fa fa-check"> Select category</i>
                                                </button>
                                            </form>
                                        </div>													
                                    </div>
                                </div>
                            </div>
                            {% endfor %} 
                        </div>						 
                    </section>
                    {% endif %}
                    {% if protovariable == 'stagetwo' %}
                    <section class="wt-haslayout wt-dbsectionspace wt-padding-add-top wt-moredetailsholder">
                        <div class="wt-dashboardbox">
                            <div class="wt-dashboardboxcontent">
                                <form method="post">{% csrf_token %}
                                    <div class="wt-jobdescription wt-tabsinfo">
                                        <div class="form-row">
                                            <div class="wt-tabscontenttitle">
                                                <h2>Create and Save Tender</h2>
                                            </div>
                                            <div class="form-group col-md-12">
                                                {{tender_form.title.label}}
                                                {{tender_form.title}}
                                                <span style="color:red;" role="alert">{{tender_form.title.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                {{tender_form.duration.label}}
                                                {{tender_form.duration}}
                                                <span style="color:red;" role="alert">{{tender_form.duration.help_text}}</span>
                                                <span style="color:red;" role="alert">{{tender_form.duration.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                {{tender_form.number_of_links.label}}
                                                {{tender_form.number_of_links}}
                                                <span style="color:red;" role="alert">{{tender_form.number_of_links.help_text}}</span>
                                                <span style="color:red;" role="alert">{{tender_form.number_of_links.errors}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    {% if messages %}
                                    <div class="row justify-content-md-center" hx-get="{% url 'tickets:remove_message' %}" hx-trigger="load delay:4s">        
                                        {% for message in messages %}        
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                            <span class="wt-jobalerts">
                                                <div class="alert alert-{{message.tags}} alert-dismissible fade show text-center">
                                                    <span> {{ message}} </span>
                                                </div>
                                            </span>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                    <div class="wt-updatall">
                                        <i class="ti-announcement"></i>
                                        <span>Step 1: Complete form and click on "Create new Tender" button</span>
                                        <button type="submit" class="wt-btn"
                                            hx-post="{% url 'onboarding:create_tender' %}"
                                            hx-target="#bidding"
                                            hx-confirm="Are you sure about the category? You may not be able to change in future"
                                            style="background-color:rgb(29, 118, 90); font-weight: bold;">
                                            Create new Tender
                                        </button>
                                    </div>  
                                </div>  
                                </form>
                            </div>													
                        </div>													
                    </section>
                    {% endif %}
                    {% if protovariable == 'stagethree' %}
                    <section class="wt-haslayout wt-dbsectionspace wt-padding-add-top wt-moredetailsholder">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-12">
                                <div class="wt-insightsitem wt-dashboardbox">
                                    <span><i class="fa fa-link fa-4x" style="color:green;"></i></span>
                                    <div class="wt-sectionhead wt-textcenter">
                                        <ol class="wt-breadcrumb">
                                            {% if tender %}
                                            </li>
                                                <a href="/" class="wt-btn">
                                                    <i class="fa fa-arrow-left" aria-hidden="true"> Check later</i>
                                                </a>
                                            </li>
                                            </li>
                                                <a href="{{tender.tender_absolute_url}}" class="wt-btn" style="background-color:rgb(8, 76, 71); font-weight: bold;">
                                                    <i class="fa fa-arrow-right" aria-hidden="true"> Review Tender Rules</i>
                                                </a>
                                            </li>
                                            {% else %}
                                            <strong>Ooops! Error Occured. Try again</strong>
                                            {% endif %}
                                        </ol>
                                        </div>													
                                    </div>
                                </div>
                            </div>
                        </div>						 
                    </section>
                    {% endif %}
                </div>
            </div>
        </div>					
    </div>
    {% endif %}