{% load static %}

	<!--Footer Start-->
	<footer id="wt-footer" class="wt-footer wt-haslayout">						
		<div class="wt-haslayout wt-footerbottom">
			<div class="container">
				<div class="row">
					<div class="wt-proposalholder mt-6" style='background-color:{% if website.navbar_color %}{{website.navbar_color}}; color:white;{% endif %}'>
						<div class="row justify-content-md-center">
							<div class="wt-sectionhead wt-textcenter">
								<span>Copyright @ {{website.site_name}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--Footer End--> 
 


