
        <!-- Popup Start-->
        <div class="modal fade wt-offerpopup" tabindex="-1" role="dialog" id="checklistmodal">
            <div class="modal-dialog" role="document">
                <div class="wt-modalcontent modal-content">
                    <div class="wt-popuptitle">
                        <h2>Complete Checklist and close</h2>
                        <a href="javascript%3bvoid(0)%3b.html" class="wt-closebtn close"><i class="fa fa-close" data-dismiss="modal" aria-label="Close" style="color:red;"></i></a>						
                    </div>
                    <span style="color:green; font-weight:bold;">I worked together with vendor and can confirm that: </span>
                    <div class="modal-body">
                        <form class="wt-formtheme"> {% csrf_token %}
                            <input type="text" name="closetask" value="closetask" id="closetask" hidden><br>
                            {% for check in checklist %}
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" name="closure" id="{{check.pk}}", value="{{check.pk}}">
                                <label class="form-check-label" for="{{check.pk}}">{{check.item}}</label>
                            </div>
                            {% endfor %} 
                            <br>
                            <br>
                            <button id="confirmandclose" type="submit" class="wt-btn"
                                data-dismiss="modal"
                                style="background-color:rgb(29, 118, 90);"
                                hx-post="{% url 'tickets:close_ticket' ticket.pk %}"
                                hx-target="#assign-ticket"
                                hx-confirm="By proceeding, you agree that issue is resolved and case can be closed">
                                Close ticket
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
